body, html {
  // getting gradient background to extend for the whole view was done using
  // https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats
  background: linear-gradient(to bottom, #ffffff 0%,#F5F5F5 40%,#DCDCDC 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-right: 2rem;
}

ul li:last-child {
  margin-right: 0;
}

.active {
  color: pink;
}

#content {
  width: 100%;
}

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main {
  align-items: center;
  display: flex;
  justify-content: center;
}

#post-forms {
  display: flex;
}

#posts {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  background-color: white;
  box-shadow: 2px 3px 10px #BEBEBE;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 25rem;
}

.post img {
  height: 100%;
}

.post h1, h2, p {
  margin: 1rem;
}

.singular-post {
  background-color: white;
  box-shadow: 0px 0px 10px #BEBEBE;
  height: 90vh;
  width: 70%;
}

#new_post {
  align-self: center;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80rem;
}
